html {
    background-color: #fa923f;
    padding: 10px;
    height: 3000px;
    margin :10px;
}

body {
    background-color: yellow;
    padding: 10px;
    margin: 0;

}

header {
    background-color: #f073e1;
    position: absolute;
    top:0;
    left:0;
    z-index: 10;

}

nav {
    background-color: #f073e1;
    margin: 10px;
    position: relative;
    top:10px;
}

footer {
    background-color: #f073e1; 
    position: fixed;
    top:0;
    left:0;
    z-index: 11
}
