body{
  font-family: sans-serif;
}
h1{
  color: aquamarine;
  font-family: sans-serif;
}
li + li {
  background-color: black;
  color:white;
}

code{
  font-family: 'Inconsolata', monospace;
  color : red;
}
/*Child Combinator*/
.Second-List code{
  color: greenyellow;
}
ol > li{
  background-color: black;
  color:white;
}